<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eCommerce</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{usuario/template_usuario.html::header}" th:if="${sesion==null}"></div>

    <div th:insert="~{usuario/template_usuario.html::header-user}" th:unless="${sesion==null}"></div>
    <br><br><br>
    <!-- <div th:insert="~{usuario/template_usersession.html::header-username}" th:unless="${sesion==null}"></div> -->

    <!-- Page Content -->
    <div class="container">

        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="membrete" th:each="empres:${empresa}">
                            <span>
                                <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                                <p th:text="${empres.razonSocial}"></p>
                                <p th:text="${empres.email}"></p>
                                <p th:text="${empres.telefono}"></p>
                                <p th:text="${empres.direccion} + ' - ' + ${empres.localidad}"></p>
                                <p th:text="${empres.provincia} + ' - ' + ${empres.pais}"></p>
                            </span>
                            <span class="tipo-comprobante">
                                <h1>X</h1>
                                <p>NO Válido como Factura</p>
                            </span>
                            <span>
                                <h3>Detalle de la Compra</h3>
                               
                                <h6 th:text=" 'Fecha:   ' + ${ordencompra.fechaCreacion}"></h6>
                                <h6 th:text=" 'Orden N°:   ' + ${ordencompra.numero}"></h6>
                            </span>
                        </div>
                        <hr>
                        <h5 class="card-title">Datos del Cliente</h5>
                        <hr>
                        <h6 th:text=" 'Nombre: ' + ${usuario.nombre} + ' ' + ${usuario.apellido}"></h6>
                        <h6
                            th:text=" 'Dirección: ' + ${usuario.direccion} + ' ' + ${usuario.altura} + ' - Piso:  ' + ${usuario.piso} + ' - Depto:  ' + ${usuario.depto}">
                        </h6>
                        <h6
                            th:text=" 'Provincia: ' + ${usuario.provincia} + ' - ' + 'Localidad: ' + ${usuario.localidad}">
                        </h6>
                        <h6 th:text=" 'Teléfono: ' + ${usuario.telefono}"></h6>
                        <h6 th:text=" 'email: ' + ${usuario.email}"></h6>
                        <hr>
                        <h5 class="card-title black">Productos</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="detalle:${detalles}">
                                    <td><img class="w55" th:src="@{/images/{img} (img=${detalle.producto.imagen})}"
                                            alt="img"></td>
                                    <td th:text="${detalle.cantidad}"></td>
                                    <td th:text="${detalle.nombre}"></td>
                                    <td th:text="'$' + ${detalle.precio}"></td>
                                    <td th:text="'$' + ${detalle.total}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <div class="col-lg-12 center">
                        <ul class="list-group">
                            <li class="list-group-item total">
                                <h5 class="card-title">Total Compra:</h5>
                                <h5 th:text="'$' + ${ordencompra.total}"></h5>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12 center mrt">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="card-title">¡Su compra fue realizada con exito!</h5>
                                <h6 class="card-title">Por favor comuniquese con la empresa para coordinar la entrega.
                                </h6>
                                <h6 class="card-title">¡Muchas Gracias!</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row w100 centrado">
                <div>
                    <a th:href="@{/usuario/compras}" class="btn btn-dark">Volver</a>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{usuario/template_usuario.html::footer}"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>