<!-- Header usuario sin logueo-->
<div th:fragment="header">
    <nav class="header-personalizado">
        <div class="contenedor-header">
            <!-- Logo -->
            <div class="header-logo" th:each="empres:${empresa}">
                <a th:href="@{/}">
                    <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                    <p th:text="${empres.razonSocial}" style="color: white;"></p>
                </a>
            </div>
            <!-- Fin logo -->
            <div class="header-menu mr30">
                <!-- Buscador -->
                <a>
                    <div class="dropdown">
                        <div class="width-ico" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="width-ico" th:src="@{/img/lupa.png}" alt="lupa">
                            <p class="white">Buscar</p>
                        </div>
                        <ul class="dropdown-menu">
                            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos"
                                    aria-label="Search" name="nombre" autocomplete="off">
                            </form>

                        </ul>
                    </div>
                </a>
                <!-- Fin buscador -->

                <a th:href="@{/allProducts}">
                    <img class="width-ico" th:src="@{/img/comprar.png}" alt="allproductos">
                    <p>Productos</p>
                </a>
                <a th:href="@{/usuario/login}">
                    <img class="width-ico" th:src="@{/img/login.png}" alt="login">
                    <p>Iniciar Sesión</p>
                </a>
                <a th:href="@{/usuario/registro}">
                    <img class="width-ico" th:src="@{/img/registro.png}" alt="registro">
                    <p>Registrate</p>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Fin usuario sin logueo -->

<!-- Header usuario login-->
<div th:fragment="header-login">
    <nav class="header-personalizado">
        <div class="contenedor-header">
            <!-- Logo -->
            <div class="header-logo" th:each="empres:${empresa}">
                <a th:href="@{/}">
                    <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                    <p th:text="${empres.razonSocial}" style="color: white;"></p>
                </a>
            </div>
            <!-- Fin logo -->
            <div class="header-menu mr30">
                <a th:href="@{/usuario/registro}">
                    <img class="w35" th:src="@{/img/registro.png}" alt="registro">
                    <p>Registrate</p>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Fin usuario login -->

<!-- Header usuario registro-->
<div th:fragment="header-registro">
    <nav class="header-personalizado">
        <div class="contenedor-header">
            <!-- Logo -->
            <div class="header-logo" th:each="empres:${empresa}">
                <a th:href="@{/}">
                    <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                    <p th:text="${empres.razonSocial}" style="color: white;"></p>
                </a>
            </div>
            <!-- Fin logo -->
            <div class="header-menu mr30">
                <a th:href="@{/usuario/login}">
                    <img class="w35" th:src="@{/img/login.png}" alt="login">
                    <p>Iniciar Sesión</p>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Fin usuario registro -->

<!-- Header usuario logueado -->
<div th:fragment="header-user">
    <nav class="header-personalizado">
        <div class="contenedor-header">
            <div class="header-logo" th:each="empres:${empresa}">
                <a th:href="@{/}">
                    <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                    <p th:text="${empres.razonSocial}" style="color: white;"></p>
                </a>
            </div>
            <div class="header-menu">
                <!-- Buscador -->
                <a>
                    <div class="dropdown">
                        <div class="width-ico" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="width-ico" th:src="@{/img/lupa.png}" alt="lupa">
                            <p class="white">Buscar</p>
                        </div>
                        <ul class="dropdown-menu">
                            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos"
                                    aria-label="Search" name="nombre" autocomplete="off">
                            </form>
                        </ul>
                    </div>
                </a>
                <!-- Fin buscador -->
                <a th:href="@{/allProducts}">
                    <img class="width-ico" th:src="@{/img/comprar.png}" alt="allproductos">
                    <p>Productos</p>
                </a>
                <a th:href="@{/usuario/compras}">
                    <img class="width-ico" th:src="@{/img/compras.png}" alt="compras">
                    <p>Mis Compras</p>
                </a>
                <a th:href="@{/getCart}">
                    <img class="width-ico" th:src="@{/img/carrito.png}" alt="usuarios">
                    <p>Carrito</p>
                </a>
                <!-- <a th:href="@{/usuario/cerrar}">
                    <img class="width-ico" th:src="@{/img/power-white.png}" alt="salir">
                    <p>Salir</p>
                </a>
                <a th:href="@{/usuario/editUser/{id} (id=${usuario.id}) }">
                    <img class="width-ico" th:src="@{/img/usuario.png}" alt="usuario">
                    <p>Editar</p>
                </a> -->

                <!-- Usuario con dropdown -->
                <div class="usersession mrt-10 ml10" th:fragment="header-username">
                    <div class="dropdown">
                        <div class="width-ico mr30 w-50" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="center" style="width: 50px;">
                                <img class="w25" th:src="@{/images/{img} (img=${usuario.foto})}" alt="img">
                            </div>
                            <p th:text="${usuario.nombre}" style="color: white; width: 50px;"></p>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="black" th:href="@{/usuario/editUser/{id} (id=${usuario.id}) }"><img
                                        class="width-ico" th:src="@{/img/sobre-nosotros-negro.png}" alt="usuario">
                                    Editar Perfil</a></li>
                            <li><a class="black" th:href="@{/usuario/cerrar}"><img class="width-ico"
                                        th:src="@{/img/btn_power.png}" alt="salir"> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Fin Usuario con dropdown -->


                <!-- <div class="usersession " th:fragment="header-username">
                    <a>
                        <img class="w25" th:src="@{/images/{img} (img=${usuario.foto})}" alt="img">
                        <p th:text="${usuario.nombre}" style="color: white;"></p>
                    </a>
                </div> -->


            </div>
        </div>
    </nav>
</div>

<!-- Footer -->
<div th:fragment="footer">
    <footer class="footer-personalizado" th:each="empres:${empresa}">
        <div class="contenedor-footer">
            <div class="white ml30 interlineado">
                <img class="width-logo" th:src="@{/images/{img} (img=${empres.logo})}" alt="logo">
                <p th:text="${empres.razonSocial}"></p>
                <p th:text="${empres.direccion} + ' - ' + ${empres.localidad}"></p>
                <p th:text="${empres.provincia} + ' - ' + ${empres.pais}"></p>

            </div>
            <div class="white mr30 mrt interlineado">

                <p th:text="${empres.email}"></p>
                <p th:text="${empres.telefono}"></p>
                <p th:text="'Copyright &copy; ' + ${empres.razonSocial} + '. All Rigths Reserved'"></p>
                <div class="">
                    <a href="" class="mr30">
                        <img class="width-redes" th:src="@{/img/facebook.png}" alt="facebook">
                    </a>
                    <a href="" class="mr30">
                        <img class="width-redes" th:src="@{/img/instagram.png}" alt="instagram">
                    </a>
                    <a href="" class="mr30">
                        <img class="width-redes" th:src="@{/img/twitter.png}" alt="twitter">
                    </a>
                    <a href="" class="mr30">
                        <img class="width-redes" th:src="@{/img/whatsapp.png}" alt="whatsapp">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Fin footer -->