<!-- Header usuario sin logueo-->
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="contenedor-header">

            <div class="header-logo">
                <a th:href="@{/}">
                    <img class="width-ico" th:src="@{/img/casa-blanco.png}" alt="casa">
                    <h6>eCommerce</h6>
                </a>
            </div>

            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search"
                    name="nombre" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <div class="header-menu">
                <a th:href="@{/usuario/login}">
                    <img class="w55" th:src="@{/img/login.png}" alt="login">
                </a>
            </div>
        </div>
    </nav>
</div>


<!-- Header usuario logueado -->
<div th:fragment="header-user">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="contenedor-header">

            <div class="header-logo">
                <a th:href="@{/}">
                    <img class="width-ico" th:src="@{/img/casa-blanco.png}" alt="casa">
                    <h6>eCommerce</h6>
                </a>
            </div>

            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
                    autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <div class="header-menu">
                <a th:href="@{/usuario/compras}">
                    <img class="width-ico" th:src="@{/img/compras.png}" alt="productos">
                    <h6>Mis Compras</h6>
                </a>
                <a th:href="@{/getCart}">
                    <img class="width-ico" th:src="@{/img/carrito.png}" alt="usuarios">
                    <h6>Carrito</h6>
                </a>
                <a th:href="@{/usuario/cerrar}">
                    <img class="width-ico" th:src="@{/img/power-white.png}" alt="salir">
                    <h6>Salir</h6>
                </a>
            </div>
        </div>
    </nav>
</div>


<!-- Footer -->
<div th:fragment="footer">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; eCommerce. All Rigths Reserved</p>
        </div>
    </footer>
</div>