<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eCommerce</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <div th:insert="~{administrador/template_admin.html::header}"></div>
    <br>
    <div th:insert="~{administrador/template_admin.html::header-usuario}"></div>

    <!-- Page Content -->
    <div class="container">

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="mt-4 mb-3">Alta<small> Promo</small></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" th:action="@{/promos/saveUploadMultiple}" method="post"
                            enctype="multipart/form-data">
                            <div class="card-body" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                <h3>Promo Superior</h3>
                                <hr>
                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img">Promo 1:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img" name="img">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img2">Promo 2:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img2" name="img2">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img3">Promo 3:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img3" name="img3">
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="card-body" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                <h3>Promo Central</h3>
                                <hr>
                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img4">Promo 4:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img4" name="img4">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img5">Promo 5:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img5" name="img5">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img6">Promo 6:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img6" name="img6">
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="card-body" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                <h3>Promo Inferior</h3>
                                <hr>
                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img7">Promo 7:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img7" name="img7">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img8">Promo 8:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img8" name="img8">
                                    </div>
                                </div>

                                <div class="form-group w100 centrado">
                                    <label class="control-label col-sm-2" for="img9">Promo 9:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control-file" id="img9" name="img9">
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row w100 centrado">
                                <div>
                                    <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-saved"></span> Guardar
                                    </button>
                                    <a class="btn btn-warning" th:href="@{/administrador}">Cancelar</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{administrador/template_admin.html::footer}"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>