<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eCommerce</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div th:insert="~{administrador/template_admin.html::header}"></div>
    <br>
    <div th:insert="~{administrador/template_admin.html::header-usuario}"></div>

    <!-- Contenido de la Página -->
    <div class="container">

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="mt-4 mb-3 center">Administrar<small> Promociones y Publicidad</small></h1>
                        <div class="centrado" th:each="promo:${promo}">
                            <a class="btn btn-success" th:href="@{create}">Alta Promo</a>
                            <a class="btn btn-warning ml30" th:href="@{/promos/edit/{id} (id=${promo.id}) }">
                                <img class="w25" th:src="@{/img/actualizar.png}" alt="actualizar">
                            </a>
                            <a th:onclick="eliminarPromo([[${promo.id}]])" class="btn btn-danger  ml30">
                                <img class="w25" th:src="@{/img/eliminar.png}" alt="eliminar">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div th:each="promo:${promo}" class="">
                            <h3>Superior</h3>
                            <div class="card-body center" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                <img class="w75" th:src="@{/images/{img} (img=${promo.promo})}" alt="1">
                                
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo2})}" alt="2">
                                
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo3})}" alt="3">
                            </div>
                            <br>
                            <h3>Central</h3>
                            <div class="card-body center" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                <img class="w75" th:src="@{/images/{img} (img=${promo.promo4})}" alt="4">
                                
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo5})}" alt="5">
                                
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo6})}" alt="6">
                            </div>
                            <br>
                            <h3>Inferior</h3>
                            <div class="card-body center" style="border: solid 1px rgb(188, 187, 187); border-radius: 5px;">
                                
                                <img class="w75" th:src="@{/images/{img} (img=${promo.promo7})}" alt="7">
                               
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo8})}" alt="8">
                                
                                <img class="w75 mrt" th:src="@{/images/{img} (img=${promo.promo9})}" alt="9">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{administrador/template_admin.html::footer}"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script th:src="@{/js/script.js}"></script>
</body>

</html>