* {
    /* Esto hace que todas las cajas sean iguales */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding-top: 56px; */
    padding-top: 30px;
    /* background-color: whitesmoke; */
    background-color: snow;
}

/* Ajusto la altura de la hoja a un tamaño A4 */
.content {
    display: flex;
    height: 1300px;
    justify-content: space-between;
    flex-direction: column;
}

.flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 5vh;
    /* Ajusta la altura según tus necesidades */
}

.w90 {
    width: 92%;
}

.w55 {
    width: 55px;
}

.w25 {
    width: 25px;
}

.w150 {
    width: 150px;
}

.w100 {
    width: 100%;
}

.w45 {
    width: 45px;
}

.w35 {
    width: 35px;
}

.w30 {
    width: 30px;
}

.w300 {
    width: 300px;
}

.w75 {
    width: 75%;
}

.mr30 {
    margin-right: 30px;
}

.ml30 {
    margin-left: 30px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.white {
    color: white;
}

.btn-white {
    /* text-decoration: none; */
    color: white;
    text-decoration-color: white;
}

.deco-none {
    text-decoration: none;
}

.just-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.border {
    border: solid 2px;
}

.b-none {
    border-color: rgb(173, 22, 22);
}

@media print {
    .dontPrint {
        display: none;
    }
}


/* header */

.width-logo {
    width: 45px;
}

.width-ico {
    width: 25px;
}

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contenedor-header a {
    text-decoration: none;
    color: white;
    margin: 10px;
    max-height: 50px;
}

.header-personalizado {
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;

}

.header-logo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 15px;
}

.header-logo p {
    font-size: 10px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-left: 10px;
}

.header-menu a {
    text-align: center;
}

.header-menu p {
    font-size: 10px;
}

.header-user {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: right;
    margin-right: 15px;
}

.header-user a {
    color: white;
    text-decoration: none;
}

.usersession {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 15px;
    color: white;
}

.usersession img {
    border-radius: 100%;
}

.circle {
    border-radius: 100%;
}

.usersession a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.nav {
    align-content: start;
}

/* fin header */

/* tarjeta producto */
.border {
    filter: drop-shadow(0px 1px 3px #c6c3c3);
}

.border:hover {
    filter: drop-shadow(3px 5px 7px #c6c3c3);
}

.tarjeta-producto a {
    text-decoration: none;
    color: black;
}

.deco-none a {
    text-decoration: none;
    color: black;
}

/* fin tarjeta producto */


/* Menu Scroll */

.menu-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 2%;
}

.img-menu-scroll {
    border: solid 1px;
    color: rgb(198, 198, 198);
    padding: 10px;
    border-radius: 5px;
    max-width: 75px;
    margin: 2px;
}

.menu-scroll a {
    text-decoration: none;
    color: black;
}

.menu-scroll h4 {
    text-align: center;
}

/* Fin Menu Scroll */

/* Membrete */

.membrete {
    display: flex;
    justify-content: space-between;
}

.membrete p {
    font-size: 10px;
    line-height: 0.25px;
}

.tipo-comprobante {
    text-align: center;
    align-items: center;
    border: solid 1px;
    max-height: 70px;
}

.tipo-comprobante p {
    margin: 5px;
    font-size: 8px;
}

.logo-membrete {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Fin Membrete */

.black {
    color: black;
}

.total {
    display: flex;
    justify-content: space-between;
}

.mrt {
    margin-top: 15px;
}

.justify {
    text-align: justify;
}

.text-indent {
    text-indent: 30px;
}

.bold {
    font-weight: bold;
}

/* footer */

.footer-personalizado {
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;

}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

.logo-footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.interlineado {
    line-height: 0.25px;
}

.width-redes {
    width: 20px;
}

/* fin footer */

/* Producto Destacado */

.img-destacado {
  
    max-width: 250px;
    max-height: 300px;
}
.contenedor-destacado {
    height: 460px;
    width: 50%;
    display: flex;
    /* background-color: black; */
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 500px;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 30px #c6c3c3);
}

.destacado {
    width: 300px;
    height: 260px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 10px;
    filter: drop-shadow(0px 7px 15px #e3e3e3);
    animation: rotar 10s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(-180deg);
    }
}

/* Fin Producto Destacado */


/* Enlace Estirado */
.contenedor {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
}

.dos-columnas {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.enlace-estirado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-enl-estirado {
    display: flex;
    border-radius: 10px;
    border: solid 1px;
    color: rgb(180, 180, 180);
    padding: 1rem;
    margin: 3px;
    max-width: 100%;
    min-width: 100%;
}

.img-enl-estirado {
    max-width: 150px;
    max-height: 150px;
}

.left {
    text-align: left;
}


/* Fin Enlace Estirado */

