body {
    padding-top: 56px;
}

.w55 {
    width: 55px;
}

.w25 {
    width: 25px;
}

.w150 {
    width: 150px;
}

.w100 {
    width: 100%;
}

.w45 {
    width: 45px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    color: white;
}

/* header */

.width-ico {
    width: 35px;
}

.contenedor-header {
    display: flex;
    /* background-color: rgb(41, 40, 40); */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* top: 0px; */
}

.contenedor-header a {
    text-decoration: none;
    color: white;
}

/* .contenedor-header a :hover {
    background-color: darkgrey;
} */

.header-logo {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-left: 20px;
}

.header-menu a {
    padding: 20px;
    text-align: center;
}

.header-user {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: right;
    margin-right: 30px;
}

.header-user a {
    color: white;
    text-decoration: none;
}

.usersession {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 30px;
}

.usersession img {
    border-radius: 25%;
}

.usersession a {
    text-decoration: none;
    text-align: center;
    color: black;
}

/* fin header */

/* tarjeta producto */
.tarjeta-producto a {
    text-decoration: none;
    color: black;
}

.deco-none a {
    text-decoration: none;
    color: black;
}

/* fin tarjeta producto */